.panda-bg-info{
    background-color: #FCEAE8;
}
.panda-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border-radius: 8px;
    padding:9px 25px;
    border: none;
}
.categories img{
    width:100px;
}